@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.a-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background: #1f1f1f;
  color: #fff;
}

.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 1rem;
}
